

// 基础变量
:root,page {
  --default-padding: 20rpx;
  --default-color:  #E61A1B;
}


.u-small-icon{
    width: 40rpx;
    height: 40rpx;
}
.u-p{
    padding:var(--default-padding)
}
.u-p-l{
    padding-left:var(--default-padding)
}
.u-p-r{
    padding-right:var(--default-padding)
}
.u-p-t{
    padding-top:var(--default-padding)
}
.u-p-b{
    padding-bottom:var(--default-padding)
}
.u-m{
    margin:var(--default-padding)
}
.u-m-l{
    margin-left:var(--default-padding)
}
.u-m-r{
    margin-right:var(--default-padding)
}
.u-m-t{
    margin-top:var(--default-padding)
}
.u-m-b{
    margin-bottom:var(--default-padding)
}

.u-relative,
.u-rela {
	position: relative;
}

.u-absolute,
.u-abso {
	position: absolute;
}


.u-primary{
    color: $u-primary;
}
.u-primary-dark{
    color: $u-primary-dark;
}
.u-primary-disabled{
    color: $u-primary-disabled;
}
.u-primary-light{
    color: $u-primary-light;
}

.u-warning{
    color: $u-warning;
}
.u-warning-dark{
    color: $u-warning-dark;
}
.u-warning-disabled{
    color: $u-warning-disabled;
}
.u-warning-light{
    color: $u-warning-light;
}

.u-success{
    color: $u-success;
}
.u-success-dark{
    color: $u-success-dark;
}
.u-success-disabled{
    color: $u-success-disabled;
}
.u-success-light{
    color: $u-success-light;
}


.u-error{
    color: $u-error;
}
.u-error-dark{
    color: $u-error-dark;
}
.u-error-disabled{
    color: $u-error-disabled;
}
.u-error-light{
    color: $u-error-light;
}

.u-info{
    color:$u-info;
}
.u-info-dark{
    color: $u-info-dark;
}
.u-info-disabled{
    color: $u-info-disabled;
}
.u-info-light{
    color: $u-info-light;
}

.u-main-color{
    color: $u-main-color;
}
.u-main-color{
    color: $u-main-color;
}
.u-main-color{
    color: $u-main-color;
}
.u-main-color{
    color: $u-main-color;
}


.u-main-color{
    color: $u-main-color;
}
.u-content-color{
    color: $u-content-color;
}
.u-tips-color{
    color: $u-tips-color;
}
.u-light-color{
    color: $u-light-color;
}
.u-border-color{
    color: $u-border-color;
}
.u-bg-color{
    color: $u-bg-color;
}
.u-disabled-color{
    color: $u-disabled-color;
}

// nvue不能用标签命名样式，不能放在微信组件中，否则微信开发工具会报警告，无法使用标签名当做选择器
/* #ifndef APP-NVUE */
image {
	display: inline-block;
}

// 在weex，也即nvue中，所有元素默认为border-box
view,
text {
	box-sizing: border-box;
}
/* #endif */

.u-font-xs {
	font-size: 22rpx;
}

.u-font-sm {
	font-size: 26rpx;
}

.u-font-md {
	font-size: 28rpx;
}

.u-font-lg {
	font-size: 30rpx;
}

.u-font-xl {
	font-size: 34rpx;
}

.u-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.u-flex-column {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.u-flex-wrap {
	flex-wrap: wrap;
}

.u-flex-nowrap {
	flex-wrap: nowrap;
}

.u-col-center {
	align-items: center;
}

.u-col-top {
	align-items: flex-start;
}

.u-col-bottom {
	align-items: flex-end;
}

.u-row-center {
	justify-content: center;
}

.u-row-left {
	justify-content: flex-start;
}

.u-row-right {
	justify-content: flex-end;
}

.u-row-between {
	justify-content: space-between;
}

.u-row-around {
	justify-content: space-around;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-flex-col {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
}

// 定义flex等分
@for $i from 0 through 12 {
	.u-flex-#{$i} {
		flex: $i;
	}
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 9 to 20 {
	.u-font-#{$i} {
		font-size: $i + px;
	}
}

// 定义字体(rpx)单位，大于或等于20的都为rpx单位字体
@for $i from 20 through 40 {
	.u-font-#{$i} {
		font-size: $i + rpx;
	}
}

// 定义内外边距，历遍1-800
@for $i from 0 through 10 {
	// 只要双数和能被5除尽的数
	@if $i % 2 == 0 or $i % 5 == 0 {
		// 得出：u-margin-30或者u-m-30
		.u-margin-#{$i}, .u-m-#{$i} {
			margin: $i + rpx!important;
		}
		
		// 得出：u-padding-30或者u-p-30
		.u-padding-#{$i}, .u-p-#{$i} {
			padding: $i + rpx!important;
		}
		
		@each $short, $long in l left, t top, r right, b bottom {
			// 缩写版，结果如： u-m-l-30
			// 定义外边距
			.u-m-#{$short}-#{$i} {
				margin-#{$long}: $i + rpx!important;
			}
			
			// 定义内边距
			.u-p-#{$short}-#{$i} {
				padding-#{$long}: $i + rpx!important;
			}
			
			// 完整版，结果如：u-margin-left-30
			// 定义外边距
			.u-margin-#{$long}-#{$i} {
				margin-#{$long}: $i + rpx!important;
			}
			
			// 定义内边距
			.u-padding-#{$long}-#{$i} {
				padding-#{$long}: $i + rpx!important;
			}
		}
	}
}

// 重置nvue的默认关于flex的样式
.u-reset-nvue {
	flex-direction: row;
	align-items: center;
}

page{
    font-size: 34rpx;
    box-sizing: border-box;
    // background-color: $u-bg-color;
    background-color: #fff;
}
.bg-color{
      background-color: #fff;
}
.bg-color-transparent{
    background-color: transparent !important;
}
.bg-click{
	opacity: 0.6;
}
*{
    box-sizing: border-box;
}
.empty{
	height: 100%;
}

.view-box {
	border: 1px solid transparent;
}
.wrap{
    padding: 24rpx;
}

.flex-basis{
    flex-basis: auto;
}
.overflow{
    overflow: hidden;
}
.link-text {
    border-bottom: 1px solid rgb(144, 147, 153);
    color: rgb(144, 147, 153);
}
.content{
    width: 100%;
}
//全屏盒子
.full-content {
    height: calc(100vh);
    /* #ifdef H5 */
    height: calc(100vh - var(--window-top) - var(--window-bottom));
    /* #endif */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
//最小全屏盒子
.nofull-content {
    min-height: calc(100vh);
    /* #ifdef H5 */
    min-height:  calc(100vh - var(--window-top) - var(--window-bottom));
    /* #endif */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;     
}

//列表详情label+value
.info-box{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 30rpx;
    overflow: hidden;
    word-wrap: break-word; 
    word-break: break-all;
    .info-row{
        display: flex;
        padding: 10rpx 20rpx;
        .info-label{
            flex-basis: auto;
            padding-right: 20rpx;
        }
        .info-value{
            flex: 1;
        }
    }
    
}
//scroll-view flex布局
.flex-uni-scroll {
    .uni-scroll-view{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .uni-scroll-view{
            flex: 1;
            display: flex;
            flex-direction: column;
            .uni-scroll-view-content {
                box-sizing: border-box;
                height: auto!important;
            }
        }
    }
   
}
//model弹出框
.u-model{
    .u-model__content{
        .modal-scroll{
            height: auto;
            max-height: calc(70vh);
        }
    }
    .u-model__footer {
        z-index: 2;
        background-color: #fff;
    }
}
//空文字

.zp-empty-view{
    padding: 100rpx;
}
//按钮
.border-btn.u-btn {
    border: 1px solid #c0c4cc!important;
    &::after {
       border: 0 !important;
       content: "";
    }
}


// 卡片样式
.uni-card{
    margin: var(--default-padding) 0px!important;
     .uni-card__header {
        display: flex;
        border-bottom: 1px #EBEEF5 solid;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        overflow: hidden;
    }
    .card-actions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 45px;
        border-top: 1px #eee solid;
    }
    .card-actions-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


// 全宽度表格
.full-width-table{
    table{
        min-width: 100%!important;
        overflow: hidden;
        width: 100%!important;
    }
   
}
// 加载页面
.u-loading-page{
    z-index: 99;
}



.u-success-panel {
		padding: 150px 60px 0;
		display: flex;
        flex-direction: column;
		align-items: center;
		justify-content: center;

		&__circle {
			background-color: $u-success;
			display: flex;
			flex-direction: row;
			border-radius: 100px;
			width: 60px;
			height: 60px;
			align-items: center;
			justify-content: center;
		}

		&__normal {
			font-size: 15px;
			color: $u-success;
			margin-top: 15px;
		}
	}
    
    
    // uni picker组件色彩定义
    .uni-data-pickerview{
        .check{
            border-color: $u-primary!important;
        }
        .selected-item-active {
            border-bottom: 2px solid $u-primary!important;
        }
    }
    
    
.conetent-body{

    overflow: hidden;
    width: 100%;

    
    .u-swiper__indicator{
        bottom: -10px!important;
       
    }
    
    .indicators {
          @include flex(row);
          margin-top: 10px;
          justify-content: center;
        
          &__dot {
               height: 5px;
               width: 15px;
               border-radius: 5px;
               background-color: rgba(29,209,155,0.3);
               margin: 0 3px;
               transition: background-color 0.3s;
      
              &--active {
                   background-color: rgba(29,209,155,1);
               }
          }
      }
      
    
  
}


.z-card{
    background-color: #FCF8FC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    .z-card__info{
        display: flex;
        justify-content: space-between;
    }
}

.z-card2{
    background-color: #fff;
    border-radius: 10px;

    padding: 10px;
    height: 100px;
    .z-card__content{
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        
        .z-card__info{
            padding-right:calc(var(--default-padding) * 1.5);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .z-card__info--desc{
                display: flex;
                justify-content: space-between;
            }
        }
        
        .z-card__image{
          height: 100%;
          width: 250rpx;
        }
    }
    
}
.z-card3{
    background-color: #fff;
    border-radius: 10px;

    padding: 10px;
    height: 100px;
    .z-card__content{
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        
        .z-card__info{
            padding-left:calc(var(--default-padding) * 1.5);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .z-card__info--desc{
                display: flex;
                justify-content: space-between;
            }
        }
        
        .z-card__image{
          height: 100%;
          width: 120px;
        }
    }
    
}

.z-card4{
    background-color: #fff;
    border-radius: 10px;

    // padding: 10px;

    .z-card__content{
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        
        .z-card__info{
            padding-left:calc(var(--default-padding) * 1.5);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .z-card__info--desc{
                display: flex;
                justify-content: space-between;
            }
        }
        
        .z-card__image{
          height: 100%;
          width: 120px;
        }
    }
    
}

.header-images{
    width: 100%;
    background: url('') no-repeat;
    background-size: 100% auto;
    background-color: #F5FBFB;
}


.segmented-control__text{
    border-bottom-width: 5px!important;
    padding-bottom: 5px !important;
}


.z-form-text{
    .z-form-item__body{
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        overflow: hidden;
    }
    .z-form-item__body_col{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        overflow: hidden;
    }
    .z-form-item__body__left{
        width: auto;
        margin-bottom: 0px;
        padding-right: 10px;
        flex-basic: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .z-form-item__body__right{
        flex:1;
        overflow: hidden;
        margin-bottom: 0px;
        flex-basic: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}



.rate {
        .item {
            .value {
                padding-left: 1.5em;
                margin: 10px auto;
            }
        }
    }
    
.require-label{
    position: absolute;
        left: -9px;
        line-height: 20px;
        font-size: 20px;
        top: 3px;
        color: #f56c6c;
}